p{background-color: red;
  

}

div p{background-color: blue;
      color:aquamarine;
      border:2px solid red;
      text-align: center;
      

}


h1{background-color:blueviolet;
   color:red;
   font-family:'Times New Roman', Times, serif;
   height:500px

  }

h2{

border:5px dashed red;
}

.go_homes {
background-color: brown;
border: 11px solid black;


}
 