body{
 background-color:rgb(108, 98, 98);
}

.img{
 padding:10px;
}
.word{
 color: white;
 margin-top: 5%;
}

.paragraph{
 color: white;
 
}

.button1{
border-radius:50%;
width:50px;
height: 50px;
margin-right: 10px;
cursor:pointer;
}

.submit{
 margin-top: 5%;
 cursor: pointer;

}