body{
 background-color: rgb(20, 7, 32);
}

.background{
 background-color: rgb(53, 8, 96);
 border-bottom-left-radius: 10px;
 border-top-left-radius: 10px;
 width: 350px;
 height: 350px;
 justify-content: center;
 align-items: center;
 margin:auto;
 position:fixed;
 



}

.text{
color: white;
padding:20px;
margin-top: 50px;
}

.list{
display:flex;
text-decoration: none;
justify-content: space-between;
/* margin-right: 100px; */

}

  img {
   width: 300px;
   justify-content: center;
   align-content: center;
   margin: auto;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   display: flex;



  }