body{
 background-color: rgb(179, 177, 177);
}

header{
 text-align: center;
 background-color:white;
 font-size:50px;
 margin:0px auto;
 width: 400px;
 padding:10px;
}

.form_container{
 display:flex;
 justify-content: center;
flex-direction: column; 
margin:0px auto;
width: 400px;
}

h1{

 font-style:oblique;
 
}

form{
text-align: left;
background-color: white;
font-size: 30px;
padding: 20px;
font-size: larger;
}

input{
 width:100%;
 
}
.btn{
     cursor: default;
      background-color: #8c8c8c;
      color: #fff;
     border: 0px;
     padding: 10px 0 10px 0;
}
h4{
 text-align: center;
}

.center{
 text-align: center;
 cursor: default;
  background-color: orange;
  color: #fff;
  border: 0px;
  padding: 10px 0 10px 0;
}